/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #333;
    background-color: red !important;
}